*, body {
    margin: 0;
    padding: 0;
}

#whole-container{
    height: 200vh;
    margin: 0px;
    padding: 0px;
    padding-bottom: 50px;
}

#sidebar{
    height: inherit;
}

#content{
    padding: 0px;
}

#samp-header{
    padding-top: 20px;
    height: 70px;
}

#box-content{

    height: fit-content;
    width: 98%;
    padding-top: 20px;
    padding-bottom: 20px;


}

